<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Places to visit in Jaipur</h1>
            
            <a href="/new" class="btn">Create new posts</a>
        </header>
        <main>

           <%  if(posts.length===0){  %>
                <p>No posts available.Create post</p>
          <%   }else{  %> 
             <%   posts.forEach(post =>{   %> 
                   <div class="post">   
                        <h2><%= post.title %></h2>
                        <p><%= post.content %></p>
                        <a href="/edit/<%= post.id %>" class="btn">Edit</a>
                        <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
                            <button type="submit" class="btn delete">Delete</button>
                        </form>
                    </div> 
                                
                <%  })  %> 
           <%   } %>

        </main>
    </div>

</body>
</html>